# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*

# Build files
dist/
build/

# Editor/OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Debugger configurations
*.pid
*.pid.lock

# Coverage directory
coverage/

# Temporary files
tmp/
temp/
